.custom-bg {
    background-image: url('../public/img/fondo.png') !important;
    background-size: cover;
    background-position: center;
  }
  
  .custom-bg-dark {
    background-image: url('../public/img/fondo-oscuro.png') !important;
    background-size: cover;
    background-position: center;
  }
  
  
  .bg-footer {
    background-image: url('../public/img/footer.png') !important;
    background-size: cover;
    background-size: cover;
    background-position: center;
  }
  
  .bg-footer-dark {
    background-image: url('../public/img/footer-dark.png') !important;
    background-size: cover;
    background-size: cover;
    background-position: center;
  }
